<div>
    <div class="bg-c-1 auth-area-bg-container"></div>
    <div class="bg-c-1-light auth-area-container">
        <div class="authBlock">
            <h3 class="color-main fs18">Reset Password</h3>
            <p class="text-center">Please enter your email address to request a password reset.</p>
            <mat-form-field appearance="fill">
                <mat-label class="contact-label">Enter your E-Mail</mat-label>
                <input class="contact-input-element" name="mail" #passwordResetEmail matInput
                    [formControl]="authService.email" type="email" id="mail" placeholder="Your@email.com" required>
                <mat-error *ngIf="authService.email.invalid">{{authService.getErrorMessage()}}</mat-error>
            </mat-form-field>
            <!-- Calling ForgotPassword from AuthService Api -->
            <div class="formGroup">
                <input type="submit" class="btn-auth bg-c-2 color-white" value="Reset Password"
                    (click)="authService.ForgotPassword(passwordResetEmail.value)">
            </div>
        </div>
        <div class="redirectToLogin">
            <span>Go back to ? <span class="color-main-with-hover" (click)="goToSignIn()">Log In</span></span>
        </div>
    </div>
</div>