<div class="body">
    <div class="privacy-container">
        <h1>Privacy Notice</h1>
        <p>This app was built as a training project at Developer Akademie. There is no security layer implemented.
            It is not supposed to be used with real life data.</p>
        <p><strong>Do not enter personal data.</strong> </p>
    </div>


    <div class="imprint-container">
        <h1>Impressum</h1>
        <p>Angaben gemäß § 5 TMG</p>
        <p>Tuncay Dağdelen <br>
            Sonnenblumenweg 1<br>
            DE 85399 Hallbergmoos <br>
        </p>
        <p> <strong>Vertreten durch: </strong><br>
            Michael Strauß<br>
            Feros Djahani<br>
            Tuncay Dağdelen<br>
        </p>
        <p><strong>Kontakt:</strong> <br>
            Telefon: <a href="tel: +4916099089089"></a>+49 (0)160/ 99 089 089<br>
            E-Mail: <a href='mailto:info@tuncay-dagdelen.de'>info@tuncay-dagdelen.de</a>
        </p>
        <p><strong>Datenschutz</strong></p><br>
        <p>
            Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich. Soweit auf
            unseren
            Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder eMail-Adressen) erhoben werden, erfolgt
            dies,
            soweit möglich, stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an
            Dritte weitergegeben. <br>
            Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail)
            Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht
            möglich. <br>
            Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten durch Dritte zur Übersendung
            von
            nicht ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit ausdrücklich
            widersprochen.
            Die Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung
            von
            Werbeinformationen, etwa durch Spam-Mails, vor.<br>
        </p>
        <p>
            Icons made by <a href="https://www.freepik.com" title="Freepik"> Freepik </a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com'</a>
        </p>
        <p>
            Impressum vom <a href="https://www.impressum-generator.de">Impressum Generator</a> der <a
                href="https://www.kanzlei-hasselbach.de/standorte/frankfurt/" rel="nofollow">Kanzlei Hasselbach,
                Frankfurt</a>
        </p>
    </div>
</div>