<div class="main-container" (mouseover)="userIsStillActive()">
    <div>
        <app-header></app-header>
    </div>
    <div class="main-sub-container">
        <!--Sidebar-->
        <div class="bg-c-1-light padding-8 sidebar-app-container">
            <app-sidebar></app-sidebar>
        </div>
        <div class="main-page-box">
            <div class="w100 bg-c-white">
                <router-outlet></router-outlet>
            </div>
            <div class="bg-c-white detail-view-head-container" [ngStyle]="{'display':(!detailService.showOtherUserInfo && !detailService.showThread && !detailService.showUserInfo) ? 'none' : 'block'}">
                <mat-icon (click)="closeDetailView()" class="close-icon-detail-view" fontIcon="close">
                </mat-icon>
                <app-detail-view-page></app-detail-view-page>
            </div>

        </div>
    </div>
    <div>
        <app-footer class="w100"></app-footer>
    </div>

</div>