<div class="footer">
    <div class="footer_div">
        <div>
            <div>
                <a href="/imprint"> Imprint - Legal Notice
                </a>
            </div>
        </div>
        <div class="social_icons_div">
            <a href="https://www.linkedin.com" target="_blank"><img src="assets/img/icons/linkedin-white.png"></a>
            <a href="https://github.com/Micsterius/slack-clone" target="_blank"><img
                    src="assets/img/icons/github-white.png"></a>
            <a href="https://www.xing.com" target="_blank"><img src="assets/img/icons/xing-white.png"></a>
        </div>
    </div>
</div>